body{
    color: RGBA(245, 251, 220, 1);
    background-color: RGBA(21, 32, 37, 1);
    margin: 0;
}
.inline{
    display: inline-block;
}
/*header*/
.header{
    background-color: RGBA(32, 53, 60, 1);
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 50px;
}
/*main*/
.main{
    width: 96%;
    float:right;
    background-color: RGBA(21, 32, 37, 1);
    border-left: 1px solid RGBA(245, 251, 220, 1);
    padding: 0 2px 0 2px;
    margin-top: 15px;
}
.group{
    margin-bottom: 20px;
}
.head-img{
    vertical-align: middle;
}
.head-img img{
    width: 100px;
    margin: 0 0 -10px -10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 8px solid RGBA(159, 195, 217, 1);
    vertical-align: middle;
}
.year-before{
    font-size: 16px;
    color: RGBA(245, 251, 220, 1);
    margin-left: -7px;
}
.year{
    margin:30px 0 10px 2px;
    border-bottom: 5px solid RGBA(159, 195, 217, 1);
}
.container{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.profile{
    background-color: RGBA(56, 76, 85, 1);
    border-radius: 10%;
    max-width: 120px;
    width: 31%;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    padding: 5px;
    margin: 5px 0 0 3px;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: RGBA(191, 191, 191, 1);
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
}
.profile span{
    font-size: 6px;
}
.pot{
    font-size: 20px;
    margin-left: -7px;
}